# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.local

# Django
/static/
media/
db.sqlite3

# Node/Vite
node_modules/
dist/
.vite/
.vscode/

# React/Vite build
/build/
*.env.local
*.env.development
*.env.production

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
